absl-py
maturin
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
astunparse
attrs
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
colorama
cycler
debugpy
decorator
defusedxml
distlib
dj-database-url
Django
django-heroku
entrypoints
exceptiongroup
fastjsonschema
filelock
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
gunicorn
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mne
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
opencv-contrib-python
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
pooch
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2
pyasn1
pyasn1-modules
pycparser
pydot
pyEDFlib
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing_extensions
urllib3
virtualenv
wcwidth
webencodings
websocket-client
Werkzeug
whitenoise
widgetsnbextension
wrapt
xgboost
zipp
